---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Mes Engagements"
	description="Découvrez que'elle sont les engagements d'Alexandre Grondin, candidat au conseil municipal de Granby, District 4"
	pubDate={new Date('October 30 2025')}
	heroImage="/photo_pancarte.JPG"
>
	<p>
		Je m'appelle Alexandre Grondin 
	</p>

	<p>
		Mon engagement
	</p>

	<p>
		Ma vision 
	</p>

	<p>
		Mes priorités
	</p>

	<p>
		Ensemble,
	</p>
</Layout>
